.wrapper {
    /* margin-top: var(--default-layout-header-height, 60px); */
}

.container {
    min-height: 1000px;
    display: flex;
    flex-direction: row;
}

.content {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    color: black;
}
