:root {
    --header-wrapper-height: 180px;
  }

.header-cover {
    position: absolute;
    width: 100%;
    z-index: 10000;
}

.intransparent-header {
    position: relative;
}

.intransparent-header .wrapper {
    background-color: #264234;
}

.wrapper {
    padding: 75px 90px;
    height: var(--header-wrapper-height);
}

.header-logo-text {
    color: #FFD367;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.user-title {
    color: #EFDBCACC;
    font-weight: 500;
    text-transform: capitalize;
}

.navigation-icon:hover {
    cursor: pointer;
}

.navigation {
    z-index: 100;
    -webkit-transform:translateY(-1500px);
    -moz-transform:translateY(-1500px);
    transform:translateY(-1700px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: auto;
    position: relative;
}

.open-nav {
    opacity: 1;
    -webkit-transform:translateY(calc(var(--header-wrapper-height) * (-1)));
    -moz-transform:translateY(calc(var(--header-wrapper-height) * (-1)));
    transform:translateY(calc(var(--header-wrapper-height) * (-1)));
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* CSS for navigation */
.wrapper-nav {
    background-image: url(/public/img/headerBackground.png);
    background-size: 100%;
    width: 100%;
    height: auto;
    position: absolute;
}

.navigation-background {
    object-fit: contain;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}

.navigation-close-btn {
    position: relative;
    z-index: 2;
    top: 75px;
    left: 90px;
}

.navigation-close-btn:hover {
    cursor: pointer;
}

.navigation-options {
    position: relative;
    z-index: 99;
    top: 280px;
    left: 400px;
    width: 700px;
}

.nav-option {
    text-decoration: none;
    color: #EFDBCA;
    text-transform: uppercase;
    font-family: header-regular-font !important;
    font-size: 100px;
    line-height: 120px;
}

.chosen-option,
.nav-option:hover {
    color: #FFD367;
}

.close-nav {
    -webkit-transform:translateY(-1500px);
    -moz-transform:translateY(-1500px);
    transform:translateY(-1700px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}