.wrapper {
    width: 100%;
}

.section-banner {
    position: relative;
}

.section-banner img {
    width: 100%;
}

.banner-title {
    width: 480px;
    position: absolute;
    top: 415px;
    left: 164px;
}

.banner-title h1 {
    font-size: 100px;
    color: #FFD367;
    font-family: header-regular-font !important;
}

.banner-title h1::first-line {
    color: #E8D8C8;
}

/* Category */
.section-category,
.section-hot-deal {
    text-transform: uppercase;
    text-align: center;
    color: #9E1D26;
    font-weight: 400;
}

.section-gallery-wrapper {
    /* padding: 100px; */
    border-top: #1D382A 100px solid;
    border-bottom: #1D382A 100px solid;
    border-left: #2b4134 100px solid;
    border-right: #2b4134 100px solid;
}

.section-gallery {
    padding: 40px 160px;
    background-color:#F0E0D3;
    width: 100%;
    height: 3271px;
}

.section-gallery h1 {
    font-size: 100px;
    color: #9E1D26;
    text-transform: capitalize;
    text-align: center;
    font-family: header-regular-font !important;
    margin-bottom: 72px;
}

.category-title {
    background-image: url('../../assets/images/sectionTitleBackground.png');
    padding: 35px 0;
}

.category {
    border-top: 2px solid #9E1D26;
    
}

.category-option {
    padding: 120px 100px;
}

.category-option:not(:last-child) {
    border-right: 2px solid #9E1D26;
}

.category-option img {
    width: 300px;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    border: 7px solid transparent;
    animation: hoverOutEffect 0.25s;
}

.category-option img:hover {
    transform: scale(0.96);
    cursor: pointer;
    animation: hoverInEffect 0.25s;
    border: 7px solid #FFD367;
}

@keyframes hoverInEffect {
    from {
        transform: scale(1);
        border: 7px solid transparent;
    }
    to {
        transform: scale(0.96);
        border: 7px solid #FFD367;
    }
}

@keyframes hoverOutEffect {
    from {
        transform: scale(0.96);
        border: 7px solid #FFD367;
    }
    to {
        transform: scale(1);
        border: 7px solid transparent;
    }
}

.category-option p {
    font-size: 48px;
    text-transform: uppercase;
    font-size: header-regular-font !important;
}

/* Hot deal */
.hot-deal {
    border-top: 2px solid #9E1D26;
    padding: 80px 20px;
    background-color: #F8EEEE;
}

.section-modal {
    width: 1232px;
    height: 856px;
    padding: 100px 50px;
    border-radius: 50px;
}

.close-modal-btn {
    width: 26.87px;
    height: 28.87px;
    top: 50px;
    right: 50px;
}

.close-modal-btn:hover {
    cursor: pointer;
}