.wrapper {
    min-width: 100vh;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container {
    height: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    background-color: #FFD367;
}