@import '../GlobalStyles/index.css';

.wrapper {
}

.section-product-info {
    margin-top: 25px;
}

.section-product-img {
    border-radius: 20px;
    border: 2px solid #9E1D26;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-product-img img {

}

.small-red-box {
    width: 101px;
    height: 10px;
    background-color: #9E1D26;
}

.product-name p {
    font-size: 24px;
    color: #264234;
    text-align: left;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: medium-font !important;
}

.price-after {
    color: #264234;
    font-size: 32px;
    text-align: left;
    margin-bottom: 0;
    font-family: medium-font !important;
}

.price-before {
    color: rgba(38, 66, 52, 0.50);
    font-size: 24px;
    text-decoration: line-through;
    text-align: left;
    font-family: medium-font !important;
}