@import '../GlobalStyles/index.css';

.wrapper {
    display: inline-block;
    padding: 0 10px 32px 10px;
}

.section-product-img:hover {
    border: 2px solid #9E1D26;
    background-color: transparent;
}

.section-product-info {
    margin-top: 25px;
}

.section-product-img {
    border-radius: 20px;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.section-product-img img {
    width: 160px;
}

.small-red-box {
    width: 101px;
    height: 10px;
    background-color: #9E1D26;
}

.product-name p {
    font-size: 18px;
    color: #264234;
    text-align: left;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family: medium-font !important;
}

.price-after {
    color: #9E1D26;
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
    font-family: medium-font !important;
}

.price-before {
    color: rgba(38, 66, 52, 0.50);
    font-size: 18px;
    text-decoration: line-through;
    text-align: left;
    font-family: medium-font !important;
    margin-bottom: 0;
}