/* Progress bar */
.progressbar {
    counter-reset: step;
    padding: 0 10%;
}

.progressbar li {
    list-style: none;
    position: relative;
    text-align: center;
    width: 10%;
}

.progressbar li:before {
    content: url('../../assets/icon/uncheckRadioBtn.svg');
    background-color: #ffffff;
    width: 36px;
    display: block;
    height: 30px;
    line-height: 27px;
    margin: 10px auto;
    text-align: center;
  }
  
  .progressbar-box {
    background: #264234;
    width: 70%;
    height: 5px;
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .progressbar li:first-child:after {
    content: none;
  }
  
  .progressbar li.active:after,
  .progressbar li.complete:after {
    background: #3aac5d;
  }
  
  .progressbar li.active:before {
    content: url('../../assets/icon/checkedRadioBtn.svg');
  }
  
  .progressbar li.active {
    color: #3aac5d;
    font-weight: 700;
  }

/* Steps */
.wrapper {
    padding: 30px 50px;
}

.product-img {
    border-radius: 20px;
    background-color: #F3CD6A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 435px;
}

.input-note {
    color: rgba(38, 66, 52, 0.50);
    font-weight: 800;
    font-family: breadcrumb-font !important;
}

.input-title {
    color: #264234;
    font-size: 25px;
}

.input-content {
    height: 65px;
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid rgba(38, 66, 52, 0.50);
    background-color: transparent;
    color: #264234;
    font-size: 20px;
    font-weight: 600;

    text-transform: uppercase;
}

textarea:focus, input:focus{
    outline: none;
}

select:focus, option:focus {
    background-color: #FFD467;
    outline: none;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
}

.btn-next {
    border-radius: 10px;
}

.btn-prev {
    border-radius: 10px;
}

button span {
    font-family: medium-font !important;
}

.error-feedback {
    font-size: 18px;
    font-weight: 450;
    color: red;
}

.overview-img {
    background-color: transparent;
}

.overview-img img {
    width: 420px;
}

.confirm-modal {
    width: 486px;
    height: 277px;
    border-radius: 20px;
    background: #FAF1F1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-modal h2 {
    width: 340px;
    font-size: 30px;
    color: #264234;
    text-align: center;
}